.search{
    border-radius: 20px;
    border: 1px solid black;
    padding: 5px 30px;
}
.container{
    position: relative;
}
.icon{
    position: absolute;
    left: 5px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Styles for Mobile (up to 767px) */
@media only screen and (max-width: 767px) {
    /* CSS for Mobile */
    .search{
        width: 150px;
    }
}

/* Styles for Tablet (768px to 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* CSS for Tablet */
}

/* Styles for Laptop/Desktop (992px and above) */
@media only screen and (min-width: 992px) {
    /* CSS for Laptop/Desktop */
}