.flex form,
.flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 95%;
}




.signInFormContainer {
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 10px;
    height: 100%;


}

.container {
    height: 100%;
}

.signInFormContainer>div {
    background: var(--COLOR-PRIMARY);
}

.signInForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formTitle {
    font-weight: 900;
    font-size: 30px;
}

.submitBtn {
    padding: 5px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    color: white;
    background-color: var(--COLOR-PRIMARY);
    margin-top: 10px;
}

.toggleBtn {
    padding: 5px 20px;
    background-color: white;
    border: none;
    color: black;
    font-size: 15px;
}

.signUpForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.signUpForm>div {
    display: flex;
    gap: 10px;
}
@media only screen and (max-width: 767px) {
    .signInFormContainer>div {
        display: none;
    }
    .signUpForm>div{
        flex-direction: column;
    }
    .flex{
        height: 85%;
    }
    .signInFormContainer {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    
    
    }
    .submitBtn {
        margin-bottom: 5px;
        padding: 3px 8px;
        font-size: 13px;
    }
    .toggleBtn{
        margin-bottom: 25px;
        font-size: 10px;
    }
    .formTitle {
        font-size: 20px;
    }
  }