.footer{
    position: fixed;
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    color: white;
    bottom: 0px;
}
@media only screen and (max-width: 767px) {
    .footer{
        font-size: 10px;
    }
  }
  