.card{
    display: flex;
    width: fit-content;
    position: relative;
    animation: left-in 1s;

}
.card>img{
    width: 200px;
    height: 240px;
    border-radius: 20px;
}
.card>div{
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.307);
    color: white;
}
@keyframes left-in {
    0%{
        transform: translateX(20px);
    }
    100%{
        transform: translateX(0px);
    }
}
@media only screen and (max-width: 767px) {
    /* CSS for Mobile */
    .card>img{
        width: 100px;
        height: 120px;
        border-radius: 20px;
    }
    .itemName>h4{
        display: none;
    }
}

/* Styles for Tablet (768px to 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* CSS for Tablet */
}

/* Styles for Laptop/Desktop (992px and above) */
@media only screen and (min-width: 992px) {
    /* CSS for Laptop/Desktop */
}