.paginationBtn {
    border: 1px solid black;
    width: fit-content;
    padding: 5px 10px;
    cursor: pointer;
}

.container {
    display: flex;
    gap: 5px
}
.hide{
    display: none;
}
.highlight{
    background-color: black;
    color: white;
}