@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100..800&family=Nova+Flat&display=swap');




:root {
  --COLOR-PRIMARY: #882437;
  --COLOR-SECONDARY: #000000;
  --COLOR-TERTIARY:#f5dede;
}
/* body,html{
} */

* {
  box-sizing: border-box;
  user-select: none;
}

.main-container {
  padding: 20px 150px;
  margin-bottom:10px;
  height: 100%;
}
/* Styles for Mobile (up to 767px) */
@media only screen and (max-width: 767px) {
  .main-container {
    padding: 10px 10px;
    overflow-y: scroll;
  
  }
}

/* Styles for Tablet (768px to 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* CSS for Tablet */
}

/* Styles for Laptop/Desktop (992px and above) */
@media only screen and (min-width: 992px ) and (max-width:1370px) {
  /* CSS for Laptop/Desktop */
  .main-container {
    padding: 20px 50px;
  }
}
