.container {
    display: grid;
    grid-template-columns: 4fr 2fr;
    padding: 5px 10px;
}

.title>h1 {
    font-weight: 700;
    width: 75%;
    margin: 40px 0px;
}
.title>h1>span{
    color: var(--COLOR-PRIMARY);
}

.bubble {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 5px 40px;
    cursor: pointer;
}

.row {
    display: flex;
    gap: 10px;
}
.title>p{
    opacity: 0.7;
    margin: 10px 0px;
}
.sections {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}
.en-title{
    font-size: 45px;
}
.ml-title{
    font-size: 35px;
}
.banner{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner>div{
    position: static;
    opacity: 0.2;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    z-index: -1;
    box-shadow: 0px 0px 150px 150px  var(--COLOR-PRIMARY);
}
.banner>img{
    position: absolute;
    border-radius: 50px;
    width: 700px;
    height: 550px;
    z-index: -1;
    mix-blend-mode: multiply;
    
}
.newArrivals{
    margin: 50px 0px;
    width: 100%;

    .head{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        font-size: 25px;
        margin: 40px 0px;
    }
}

@media only screen and (max-width: 767px) {
    /* CSS for Mobile */
    .container {
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
        gap:10px;
    }
    .title>h1 {
        font-weight: 700;
        width: 75%;
        margin: 10px 0px;
        font-size: 30px;
    }
    .banner>img{
        position: static;
        border-radius: 20%;
        height: 100%;
        width: 100%;
    }
    .banner>div{
        position: absolute;
        opacity: 0.2;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        z-index: -1;
        box-shadow: 0px 0px 120px 120px  var(--COLOR-PRIMARY);
    }
    .banner{
        height: 100%;
        width: 100%;
    }
    .bubble {
        border-radius: 10px;
        padding: 5px 20px;
        font-size: 14px;
 
    }
    .newArrivals{
        margin: 5px 0px 50px 0px;
        width: 100%;
    
        .head{

            font-size: 22px;
        }
    }
}

/* Styles for Tablet (768px to 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* CSS for Tablet */
}

/* Styles for Laptop/Desktop (992px and above) */
@media only screen and (min-width: 992px) {
    /* CSS for Laptop/Desktop */
}